<ion-header>
  <ion-toolbar>
    <ion-title>História do país</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        é uma série de estudos sobre a história do Brunei, um país localizado no Mar da China Meridional com a ilha de Bornéu, na Ásia[1]. O Brunei foi um sultanato poderoso nos séculos XVI a XIX, mas tornou-se um protetorado do Reino Unido em 1888, mais tarde na Segunda Guerra Mundial é invadido pelo Japão, em 1945 volta ser protetorado britânico. Em 1959, o país obtém a independência, porém o Reino Unido fica responsável por sua defesa e relações exteriores.[1]

Em 1962 é sufocada uma revolta contra o governo, por tentativa de unificação do país com a Malásia. Em 1984, o país se torna completamente independente, mas com governo ditadoral, pelo sultão Hassanal Bolkiah.
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-3>
          Em 1998, o príncipe Jefri Bolkiah, irmão mais novo do sultão, é afastado de empresas estatais por má administração e pela falência de um empresa estatal, a Amedeo Development Corportion, que acumularam prejuízos de US$16 bilhões e 23 mil novos desempregados. O sultão que antes era considerado o homem mais rico do mundo, tem sua fortuna diminuída de US$40 bi para US$10 bi, ele processa seu irmão.
        </ion-col>
        <ion-col col-6>
          A história de Brunei antes da chegada dos navios Magalhães é baseado principalmente em especulação e interpretação de fontes chinesas e lendas locais. Os historiadores acreditam que foi um precursor para o presente e atual Sultanato de Brunei[1]. Um estado predecessor possível foi chamado Vijaiapura, o que possivelmente existia no noroeste do Bornéu , noséculo VII [nota 1]. Foi provavelmente um estado sujeito da poderoso Império Serivijaia baseado em Sumatra.
          </ion-col>
      </ion-row>
</ion-grid>
<ion-button expand="full" href="home">Voltar</ion-button>
</ion-content>
