<ion-header>
  <ion-toolbar>
    <ion-title>
      Brunei
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand="full" href="grids"> História do país </ion-button>
<ion-button expand="full" fill="outline"href="segments"> Pontos turísticos </ion-button>
<ion-button expand="full" href="slides"> Comidas típicas </ion-button>
<ion-button expand="full" fill="outline" href="toast"> Curiosidades </ion-button>
<img src="../assets/img/bru.jpg">

<ion-footer>
  <ion-toolbar>
    <ion-title>Christian, 2019</ion-title>
  </ion-toolbar>
</ion-footer>

</ion-content>
