<ion-header>
  <ion-toolbar>
    <ion-title>Comidas típicas</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://ionicframework.com/docs/assets/ionic/css/ionic.bundle.css"/>
  <script defer src="https://ionicframework.com/docs/assets/ionic/dist/ionic.js"></script>
</ion-header>

<ion-content>
<ion-slides>
  <ion-slide> 
    <img src="../assets/img/nasi.jpg">
    <h2><b>Nasi Lemak</b></h2>
    <p>É composto por arroz e pequenas porções de anchovas fritas e amendoins fritos, umas rodelas de pepino e ovo, que pode ser cozido ou frito. Esta refeição que pode ser servida no prato ou embrulhada em folha de bananeira para take–away. </p>
  </ion-slide>
 

  <ion-slide>
    <img src="../assets/img/roti.jpg">
    <h2><b>Roti Canai</b></h2>
    <p>Trata-se de um pão achatado, não levedado, mas cuja massa é estendida até ficar muito fina, sendo para isso atirada com gestos mecânicos e precisos de encontro à bancada, repetidas vezes até quase ficar rasgada</p>
  </ion-slide>


  <ion-slide> 
    <img src="../assets/img/dudi.jpg">
    <h2><b>Durian</b></h2>
    <p>Cor verde e casca espinhosa, essa fruta exótica é muito consumida na Ásia. Descrito como suculento e saboroso, o durian pertence ao mesmo grupo do hibisco e do quiabo</p>
  </ion-slide>
</ion-slides>
<ion-button expand="full" href="home">Voltar</ion-button>
</ion-content>
